In [1]:
# 라이브러리 사용

import tensorflow as tf
import pandas as pd

In [2]:
# 데이터 준비

url = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(url)
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
# 독립변수와 종속변수 분리

independence = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
subordination = boston[['medv']]

print(independence.shape, subordination.shape)

(506, 13) (506, 1)

In [15]:
# 모델 만들기

x = tf.keras.layers.Input(shape=[13])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x, y)
model.compile(loss='mse')

In [18]:
# 모델 학습

model.fit(independence, subordination, epochs=1000, verbose=0)
model.fit(independence, subordination, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 824us/step - loss: 24.3049
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.1260
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 24.6416
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5206
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 24.3917
Epoch 6/10
16/16 [==============================] - 0s 872us/step - loss: 24.5325
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3746
Epoch 8/10
16/16 [==============================] - 0s 686us/step - loss: 24.8432
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2130
Epoch 10/10
16/16 [==============================] - 0s 998us/step - loss: 24.4797

In [20]:
# 모델 사용

# 독립변수에서 5 ~ 9 번까지 넣었을 때 결과값 구하기
print(model.predict(independence[5:10]))

[[26.133722]
 [22.454252]
 [19.447563]
 [11.20013 ]
 [18.842516]]

In [21]:
subordination[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [22]:
model.predict([[0.02, 12.5, 7.4, 0, 0.44, 6.3, 54, 6.2, 3, 300, 17, 5, 24]])

array([[11.267533]], dtype=float32)

In [7]:
# 모델 수식 확인

print(model.get_weights())

# 수식으로 바꾸면
# -0.08930659 * x1 + 0.05653846 * x2 + -0.04643771 * x3 + 2.9792533 * x4
# + 1.8081057 * x5 +  4.9614463 * x6 + -0.00558628 * x7 + -0.9866078 * x8
# + 0.17443185 * x9 + -0.01061568 x10 + -0.30733088 * x11 + 0.01452566 * x12
# + -0.4966866 * x13
# = 집값

[array([[-0.08672832],
       [ 0.07293537],
       [-0.04497995],
       [ 3.2093801 ],
       [ 1.3665748 ],
       [ 3.883788  ],
       [ 0.02148309],
       [-0.8176905 ],
       [ 0.1567948 ],
       [-0.00848157],
       [-0.0047871 ],
       [ 0.01697979],
       [-0.58776927]], dtype=float32), array([2.944751], dtype=float32)]