In [5]:
# 라이브러리 사용

import tensorflow as tf
import pandas as pd

In [6]:
# 데이터 준비

url = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(url)
iris

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭         품종
0     5.1  3.5    1.4   0.2     setosa
1     4.9  3.0    1.4   0.2     setosa
2     4.7  3.2    1.3   0.2     setosa
3     4.6  3.1    1.5   0.2     setosa
4     5.0  3.6    1.4   0.2     setosa
..    ...  ...    ...   ...        ...
145   6.7  3.0    5.2   2.3  virginica
146   6.3  2.5    5.0   1.9  virginica
147   6.5  3.0    5.2   2.0  virginica
148   6.2  3.4    5.4   2.3  virginica
149   5.9  3.0    5.1   1.8  virginica

[150 rows x 5 columns]

In [7]:
# 원핫인코딩 : 숫자가 아닌 데이터를 0과 1로 나누어주는 것

iris= pd.get_dummies(iris)
iris

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0     5.1  3.5    1.4   0.2          1              0             0
1     4.9  3.0    1.4   0.2          1              0             0
2     4.7  3.2    1.3   0.2          1              0             0
3     4.6  3.1    1.5   0.2          1              0             0
4     5.0  3.6    1.4   0.2          1              0             0
..    ...  ...    ...   ...        ...            ...           ...
145   6.7  3.0    5.2   2.3          0              0             1
146   6.3  2.5    5.0   1.9          0              0             1
147   6.5  3.0    5.2   2.0          0              0             1
148   6.2  3.4    5.4   2.3          0              0             1
149   5.9  3.0    5.1   1.8          0              0             1

[150 rows x 7 columns]

In [8]:
# 독립변수와 종속변수 분리

독립 = iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = iris[['품종_setosa', '품종_versicolor', '품종_virginica']]

In [9]:
독립

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭
0     5.1  3.5    1.4   0.2
1     4.9  3.0    1.4   0.2
2     4.7  3.2    1.3   0.2
3     4.6  3.1    1.5   0.2
4     5.0  3.6    1.4   0.2
..    ...  ...    ...   ...
145   6.7  3.0    5.2   2.3
146   6.3  2.5    5.0   1.9
147   6.5  3.0    5.2   2.0
148   6.2  3.4    5.4   2.3
149   5.9  3.0    5.1   1.8

[150 rows x 4 columns]

In [10]:
종속

     품종_setosa  품종_versicolor  품종_virginica
0            1              0             0
1            1              0             0
2            1              0             0
3            1              0             0
4            1              0             0
..         ...            ...           ...
145          0              0             1
146          0              0             1
147          0              0             1
148          0              0             1
149          0              0             1

[150 rows x 3 columns]

In [11]:
print(독립.shape, 종속.shape)

(150, 4) (150, 3)

In [22]:
# 모델 만들기

x = tf.keras.layers.Input(shape=[4])

# softmax : 분류에서 이것일 확률이 몇 퍼센트이다를 나타내는 비율을 예측하는 것
y = tf.keras.layers.Dense(3, activation='softmax')(x)

model = tf.keras.models.Model(x, y)

# crossentropy : 분류에 사용되는 loss
# accuracy : 정확도
model.compile(loss='categorical_crossentropy', metrics=['accuracy'])

In [28]:
# 모델 학습

model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
5/5 [==============================] - 0s 997us/step - loss: 0.0657 - accuracy: 0.9800
Epoch 2/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0659 - accuracy: 0.9800
Epoch 3/10
5/5 [==============================] - 0s 4ms/step - loss: 0.0658 - accuracy: 0.9733
Epoch 4/10
5/5 [==============================] - 0s 5ms/step - loss: 0.0658 - accuracy: 0.9800
Epoch 5/10
5/5 [==============================] - 0s 4ms/step - loss: 0.0657 - accuracy: 0.9800
Epoch 6/10
5/5 [==============================] - 0s 1ms/step - loss: 0.0655 - accuracy: 0.9800
Epoch 7/10
5/5 [==============================] - 0s 797us/step - loss: 0.0660 - accuracy: 0.9800
Epoch 8/10
5/5 [==============================] - 0s 4ms/step - loss: 0.0658 - accuracy: 0.9733
Epoch 9/10
5/5 [==============================] - 0s 1ms/step - loss: 0.0663 - accuracy: 0.9800
Epoch 10/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0657 - accuracy: 0.9800

In [29]:
model.predict(독립[:5])

array([[1.0000000e+00, 1.5623417e-08, 6.8793349e-19],
       [9.9999952e-01, 4.5674236e-07, 1.8244302e-16],
       [9.9999988e-01, 8.8783551e-08, 1.8032986e-17],
       [9.9999893e-01, 1.0896932e-06, 7.7370377e-16],
       [1.0000000e+00, 1.0564520e-08, 3.9438444e-19]], dtype=float32)

In [31]:
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [15]:
iris

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0     5.1  3.5    1.4   0.2          1              0             0
1     4.9  3.0    1.4   0.2          1              0             0
2     4.7  3.2    1.3   0.2          1              0             0
3     4.6  3.1    1.5   0.2          1              0             0
4     5.0  3.6    1.4   0.2          1              0             0
..    ...  ...    ...   ...        ...            ...           ...
145   6.7  3.0    5.2   2.3          0              0             1
146   6.3  2.5    5.0   1.9          0              0             1
147   6.5  3.0    5.2   2.0          0              0             1
148   6.2  3.4    5.4   2.3          0              0             1
149   5.9  3.0    5.1   1.8          0              0             1

[150 rows x 7 columns]

In [16]:
print(model.predict([[4.9, 3.5, 1.5, 0.1]])) # iris의 첫 번째 데이터와 유사하게 데이터 입력

[[9.9813914e-01 1.8607092e-03 1.1259325e-07]]