In [4]:
# 라이브러리 사용

import tensorflow as tf
import pandas as pd

In [5]:
# 데이터 준비

url = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(url)
lemonade

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [6]:
# 종속변수와 독립변수 분리

independence = lemonade[['온도']]
subordination = lemonade[['판매량']]

print(independence.shape, subordination.shape)

(6, 1) (6, 1)

In [7]:
lemonade[['온도']]

   온도
0  20
1  21
2  22
3  23
4  24
5  25

In [8]:
lemonade['온도']

0    20
1    21
2    22
3    23
4    24
5    25
Name: 온도, dtype: int64

In [9]:
# 모델 만들기

x = tf.keras.layers.Input(shape=[1]) # 독립 변수의 칼럼 수가 하나이기 때문에 shape = 1
y = tf.keras.layers.Dense(1)(x) # 종속 변수의 칼럼 수가 하나이기 때문에 Dense(1)
model = tf.keras.models.Model(x, y)  # 모델 완성
model.compile(loss='mse') # 모델이 학습할 방법 정의, 모델 완성

In [29]:
# 모델을 학습시키기

# 반복해서 자꾸 실행할수록 loss가 0개 가까워진다.
# verbose=0 옵션으로 결과가 화면에 출력되지 않도록 설정할 수 있다.
# model.fit(independence, subordination, epochs=1000, verbose=0)

model.fit(independence, subordination, epochs=1000, verbose=0)
model.fit(independence, subordination, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 2ms/step - loss: 1.5091e-04
Epoch 2/10
1/1 [==============================] - 0s 2ms/step - loss: 1.5095e-04
Epoch 3/10
1/1 [==============================] - 0s 2ms/step - loss: 1.5102e-04
Epoch 4/10
1/1 [==============================] - 0s 3ms/step - loss: 1.5101e-04
Epoch 5/10
1/1 [==============================] - 0s 4ms/step - loss: 1.5089e-04
Epoch 6/10
1/1 [==============================] - 0s 1ms/step - loss: 1.5077e-04
Epoch 7/10
1/1 [==============================] - 0s 3ms/step - loss: 1.5071e-04
Epoch 8/10
1/1 [==============================] - 0s 2ms/step - loss: 1.5072e-04
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 1.5070e-04
Epoch 10/10
1/1 [==============================] - 0s 3ms/step - loss: 1.5067e-04

In [31]:
# 모델 사용하기

# 종속변수의 정답과 가까이 맞추는 것을 확인할 수 있다.
model.predict(independence)

array([[39.994816],
       [41.99229 ],
       [43.98977 ],
       [45.987244],
       [47.98472 ],
       [49.982197]], dtype=float32)

In [33]:
subordination

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [34]:
# 만약 15도라면 몇 개의 레모네이드를 준비해야하는지 예측
model.predict([[15]])

array([[30.007435]], dtype=float32)